<div><a href="/smartchat_cake/messages/sendtoindividual">Send Message to Single User</a></div>
<div><a href="/smartchat_cake/messages/sendtovessel">Send Message to A Group</div>
<div><a href="/smartchat_cake/messages/vesselmessagepage">Group Message List</div>
<div><a href="/smartchat_cake/messages/sendtoindividual">Single User Message List</div>

