<div class="users form">
<h1>This is the index page</h1>
<?php echo $admins;
foreach($admins as $admin) {
    echo $admin['Admin']['id'].'</br>';
    echo $admin['Admin']['name'].'</br>';
    echo $admin['Admin']['password'].'</br>';
} ?>